@charset "UTF-8";

:root {
  --cor-1: #FFFF00;
  --cor-2: #FFD933;
  --cor-3: #FFB433;
  --cor-redes: #ff7e53;
  --cor-hover: #5280ff;
  --cor-4: #0054DB;
  --cor-5: #80C6FF;
  --cor-6: #001BA5
  --cor-7: #FF8432;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: arial, helvetica, sans-serif;
}
@media screen and (min-width: 320px) {
  aside h1 {
    padding: 50px;
  }
  aside div {
    margin: auto;
    width: 50%;
    height: 20vh;
    margin: 10px auto 10px auto;
  }
  aside img {
    margin: 10px;
    width: 70%;
    height: 10vh;
  }
  aside {
    display: block;
    margin: 0;
    width: 100%;
  }
  #credits-site h1 {
    margin: 0 0 0 45%;
    max-width: 414px;
  }
}
@media screen and (min-width: 414px) {
  #credits-site h1 {
    margin: -20px 0 0 0;
    max-width: 414px;
  }
  #credits-site {
    max-width: 400px;
  }
  img#profile {
    margin: 0px 0 -10px 0;
  }
}
@media screen and (min-width: 480px) {
  .div-a {
    height: 31vh;
  }
  aside img {
    width: 30%;
    height: 30vh;
  }
}
@media screen and (min-width: 768px) {
  #navtop {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navtop li {
    margin: 20px 0 0 0;
    border: 1px solid gray;
    background-color: transparent;
    color: gray;
  }
  #navtop li:hover {
    color: white;
    background-color: var(--cor-hover);
    border: 1px solid var(--cor-hover);
  }
  #menlin {
    display: none;
  }
  aside {
    display: block;
  }
}
@media screen and (min-width: 800px) {
  main {
    margin: 0 450px 0 450px;
  }
  aside {
    display: block;
  }
  aside div {
    height: 25vh;
  }
  aside img {
    height: 15vh;
  }
  footer {
    height: 7vh;
  }
}
@media screen and (min-width: 1024px) {
  main {
    margin: 0 250px 0 250px;
  }
  main #landscape-blue {
    height: 70vh;
  }
  aside div {
    height: 30vh;
  }
}
@media screen and (min-height: 1366px) {
  #landscape-blue {
    max-height: 40vh;
  }
  aside div {
    height: 25vh;
  }
}
@media screen and (min-width: 1920px) {
  aside {
    display: block;
    max-height: 700px;
}
  aside div {
    max-width: 80vh;
    height: 52vh;
  }
  aside img {
    max-width: 55vh;
    height: 40vh;
  }
}